<div id="import-album-modal" class="modal hide fade">
  <div class="modal-header"
    <a class="close" data-dismiss="modal">×</a>
    <h3>Import Album</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset>
        <legend>album folder location</legend>
        <div class="clearfix">
          <label for="album-path">(absolute path)</label>
          <div class="input">
            <input class="album-path span5" id="album-path" name="album-path" size="30" type="text" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn primary" href="#">Import</a>
    <a class="btn" href="#" data-dismiss="modal">Close</a>
  </div>
</div>
