<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>rifffz</title>
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/app.css" type="text/css" rel="stylesheet" />
    <script src="/assets/application.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
